
@import "tailwindcss";

@layer base {
  button , input , a{
    @apply rounded-xs outline-none
  }

  *{
    font-family:poppins;
    font-size: 15px;
  }
  body{
    @apply text-slate-800
  }

  .active{
    @apply bg-gray-200  
  }


}
#hero {
  background-image: url('./assets/hero.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-clip: border-box;
  background-attachment: fixed;
  background-position:top;
  @apply -z-30 
}