
@import "tailwindcss";

@layer base {
  button  , a{
    @apply rounded-xs outline-none
  }

  input{
    @apply outline-green-600 rounded-xs
  }

  *{
    
    scroll-behavior: smooth;
    font-size: 15px;
  }
  body{
    @apply text-slate-800
  }

  .active{
    @apply bg-gray-200  
  }


}
#hero {
  background-image: url('./assets/hero.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-clip: border-box;
  background-attachment: fixed;
  background-position:top;
  @apply -z-30 
}